language: node_js

branches:
  only:
  - master
  - /^release-.*/

before_script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export DISPLAY=:99.0; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sh -e /etc/init.d/xvfb start; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sleep 3; fi

install:
  - npm uninstall typescript --no-save
  - npm install

cache:
  directories:
    - node_modules

script:
    - npm run test